# local-config.php
production-config.php

/wp
/vendor

/content/*
!/content/themes
/content/themes/*
!/content/themes/*-child
!/content/themes/.gitkeep

!/content/plugins
/content/plugins/*
!/content/plugins/.gitkeep
