/htdocs/*
/vendor
!/htdocs/.gitignore

/public/wp-content/*
!/public/wp-content/themes
/public/wp-content/themes/*
!/public/wp-content/themes/*-child
!/public/wp-content/themes/.gitkeep

!/public/wp-content/plugins
/public/wp-content/plugins/*
!/public/wp-content/plugins/.gitkeep

vvv-*
